fastapi
uvicorn
openai
python-dotenv
langchain
langchain-openai
pymongo
pydantic-settings 
httpx
bcrypt
langgraph
chromadb
pydantic
langsmith
langchain-google-genai
langchain-anthropic
langchain_community
langchain-chroma>=0.1.2